{% extends 'dashboard-base.html' %}
{% load static %}

{% block content %}

<div class="row">
    {% include 'dashboard-menu.html' %}
    <div class="col-md-9 mt-3"> <!-- Adjusted column width and added top margin -->

        <div class="col-md-12">
            {% include 'messages.html' %}
        </div>

        <h3 class="default-style">Change Password</h3> <!-- Changed class for consistency -->
        <hr>

        <form action="/dashboard/change_pwd" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="form-group col-md-6"> <!-- Adjusted column width for form fields -->
                    <label for="new_password">New Password</label>
                    <input type="password" class="form-control" name="password" id="new_password" placeholder="Enter New Password" required>
                </div>
                <div class="form-group col-md-6"> <!-- Adjusted column width for form fields -->
                    <label for="verify_password">Confirm New Password</label>
                    <input type="password" class="form-control" name="verify_password" id="verify_password" placeholder="Confirm New Password" required>
                </div>

                <div class="form-group col-md-6"> <!-- Adjusted column width for form fields -->
                    <label for="old_password">Old Password</label>
                    <input type="password" class="form-control" name="old_password" id="old_password" placeholder="Enter Old Password" required>
                </div>
            </div>

            <button type="submit" class="btn btn-primary mt-3">Submit Change</button> <!-- Added margin top and used Bootstrap class for button -->

        </form>
    </div>
</div>

{% endblock content %}
